<div class="col-md-4 col-xs-12">
<img src="<%= asset_path 'sofi.jpg' %>" alt="" class="col-md-4 col-xs-4 foto-no-margin">
<img src="<%= asset_path 'sofi_eyes.jpg' %>" alt="" class="col-md-4 col-xs-4 foto-no-margin">
<img src="<%= asset_path 'sofi_premio.jpg' %>" alt="" class="col-md-4 col-xs-4  foto-no-margin">
<img src="<%= asset_path 'sofi_bateria.jpg' %>" alt="" class="col-md-6 col-xs-6  foto-no-margin">
<img src="<%= asset_path 'sofi_presentation.jpg' %>" alt="" class="col-md-6 col-xs-6  foto-no-margin">
<img src="<%= asset_path 'chess.jpg' %>" alt="" class="col-md-6 col-xs-6 foto-no-margin">
<img src="<%= asset_path 'sofi_eyes1.jpg' %>" alt="" class="col-md-6 col-xs-6  foto-no-margin" >
</div>

<div class="col-md-8">
	<h1>Who am I</h1>


	<div class="col-md-12">
		Hi! I'm Sofia. I am a 11 years old girl who lives in Chile.
		I learned how to read when I was 3. I started playing piano the next year
		and then I then I learned how to play the violin. I learned the drums. I started progamming at 10 in my school. Some months later I knew about Desafío Latam in my city, Santiago. Now I'm finishing a Fullstack carreer.
	<h1> Why I made this page</h1>
	I want everyone to be able to learn code, so I made a webpage to help this situation. I made it so no matter your age you can learn code.
	If you have any questions, email me at contact.codeclassroom@gmail.com
	</div>
</div>
