<div class="col-md-4 col-xs-12">
<img src="<%= asset_path 'sofi' %>" alt="" class="col-md-4 col-xs-4 foto-no-margin">
<img src="<%= asset_path 'sofi_eyes' %>" alt="" class="col-md-4 col-xs-4 foto-no-margin">
<img src="<%= asset_path 'sofi_premio' %>" alt="" class="col-md-4 col-xs-4  foto-no-margin">
<img src="<%= asset_path 'sofi_bateria' %>" alt="" class="col-md-6 col-xs-6  foto-no-margin">
<img src="<%= asset_path 'sofi_presentation' %>" alt="" class="col-md-6 col-xs-6  foto-no-margin">
<img src="<%= asset_path 'chess' %>" alt="" class="col-md-6 col-xs-6 foto-no-margin">
<img src="<%= asset_path 'sofi_eyes1' %>" alt="" class="col-md-6 col-xs-6  foto-no-margin" >
</div>

<div class="col-md-8">
	<h1>Who am I</h1>


	<div class="col-md-12">
		Hi! I'm Sofia. I am a 11 years old girl who lives in Chile.
		I learned how to read when I was 3. I started playing piano the next year
		and then I then I learned how to play the violin. I learned the drums. I started progamming at 10 in my school. Some months later I knew about Desafío Latam in my city, Santiago. Now I'm finishing a Fullstack carreer.
	<h1> Why I made this page</h1>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur ipsum, incidunt nam ea repellendus iure a omnis repudiandae, accusantium possimus numquam quisquam laboriosam necessitatibus, eius perferendis, tempora voluptatem reiciendis voluptas.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, magni dolor adipisci accusamus, maiores iure modi officia veniam culpa voluptas? Qui distinctio magni, ratione voluptatibus repellat libero ipsum labore facere!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima dolorum aliquid quis delectus, excepturi temporibus quos voluptatum debitis impedit quam! Numquam a, ut quas. Harum ipsum temporibus aspernatur similique facere.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem numquam, consequuntur! Autem aliquam facilis magnam magni aliquid eum dolores architecto harum. Cum mollitia distinctio eius omnis ipsum ad laudantium molestias!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi ab iusto hic ipsum eveniet velit quisquam autem dolor dolores, tenetur neque recusandae incidunt ducimus, eum ipsa sapiente saepe praesentium alias.
	If you have any questions, email me at contact.codeclassroom@gmail.com
	</div>
</div>
