<h1>Pages to continue learning:</h1>

<div class="thumbnail col-md-4"><img src="<%= asset_path 'sololearn.jpg' %>" alt=""><a href="sololearn.com">Sololearn</a></div>
<div class="thumbnail col-md-4"><img src="<%= asset_path 'sololearn.jpg' %>" alt=""><a href="sololearn.com">Sololearn</a></div>
<div class="thumbnail col-md-4"><img src="<%= asset_path 'sololearn.jpg' %>" alt=""><a href="sololearn.com">Sololearn</a></div>

<h1>C/C++/C# Resources:</h1>
<div class="thumbnail col-md-4"><img src="<%= asset_path 'sololearn.jpg' %>" alt=""><a href="http://www.cplusplus.com/">CPlusPlus</a></div>
<div class="thumbnail col-md-4"><img src="<%= asset_path 'sololearn.jpg' %>" alt=""><a href="http://www.cplusplus.com/">CPlusPlus</a></div>
<div class="thumbnail col-md-4"><img src="<%= asset_path 'sololearn.jpg' %>" alt=""><a href="http://www.cplusplus.com/">CPlusPlus</a></div>