<h1>Code Classroom</h1>
<h2>Coding pleasure for every one!!!</h2>

<div class="container">
<div class="row">
  <div class="col-md-3">
    <p style = " text-align: center;">
      <span class="glyphicon glyphicon-heart" style="font-size:800%; color: #FF4641;"></span>
    </p>
    <p style = "text-align:center;">
    <h3>Find code you would love</h3> </p>
    <p style = "text-align:center;"><p>Swim throught a lot of code, post about different languages, and your daily dosis of viruses so you are never caught. Wel'l get you the best software!</p></p>
</div>

  <div class="col-md-3">
    <p style = " text-align: center;">
       <span class ="glyphicon glyphicon-file" style = "font-size:800%; color: #8A16AD;"></span>
    </p>
    </p>
    <p style = "text-align:center;">
    <h3>See lots of cool examples and tutorials</h3> </p>
    <p style = "text-align:center;"><p>See our code examples throught different filters and take a look at tutorials. Some of them are easy, but don't go so fast on the hard ones!</p></p>
</div>

  <div class="col-md-3">
    <p style = " text-align: center;">
      <span class="glyphicon glyphicon-download-alt" style = "font-size:800%; color: #183CBF;"></span>
    </p>
    </p>
    <p style = "text-align:center;">
    <h3>Download all the files of tutorials and examples on a .zip file</h3> </p>
    <p style = "text-align:center;"><p>If you liked a tutorial, or you want to download a code, just press "download zip" to download all files of the pages!</p></p>
</div>
  <div class="col-md-3">
    <p style = " text-align: center;">
      <span class = "glyphicon glyphicon-fire" style = "font-size:800%; color: #FF3300;"></span>
    </p>
    </p>
    <p style = "text-align:center;">
    <h3>See what's trending now</h3> </p>
    <p style = "text-align:center;"><p>See the popular posts, codes, and tutorials. Subscribe so you NEVER miss a post again!</p></p>
</div>


</div>

  <h3> NEW BOOK TEACH GOOD LESSON ABOUT LESS AND SASS <span class="label label-default" style = "background-image: url(<%= asset_path 'stars.jpg' %>)">FREE!!!</span></h3>
  <h3>INTRODUCTION TO SASS (YEAH, WE LOVE CSS PREPROCESSORS)</h3>
  <div class = "container">
  <!-- <div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/sCbXTrsl7NU?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe>--!></div>
  </div>
  <div class ="row">
    <div class = "col-md-3 thumbnail">
    <img src="<%= asset_path 'sololearn.jpg' %>" alt = "Sololearn: the app that teach you programming" class = "img-responsive img-rounded">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem porro hic nemo, ea! Debitis illum, commodi necessitatibus eius sapiente fugiat quam cum excepturi libero maxime vel officiis in sed assumenda.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ipsum, vel harum. Amet delectus ratione odio, possimus in, maxime libero cumque quasi earum quis a, sequi aperiam, commodi magni iste.
  </div>
  <div class = "col-md-3 thumbnail">
    <img src="<%= asset_path 'sololearn.jpg' %>" alt = "Sololearn: the app that teach you programming" class = "img-responsive img-rounded">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem porro hic nemo, ea! Debitis illum, commodi necessitatibus eius sapiente fugiat quam cum excepturi libero maxime vel officiis in sed assumenda.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ipsum, vel harum. Amet delectus ratione odio, possimus in, maxime libero cumque quasi earum quis a, sequi aperiam, commodi magni iste.
  </div>
  <div class = "col-md-3 thumbnail">
    <img src="<%= asset_path 'sololearn.jpg' %>" alt = "Sololearn: the app that teach you programming" class = "img-responsive img-rounded">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem porro hic nemo, ea! Debitis illum, commodi necessitatibus eius sapiente fugiat quam cum excepturi libero maxime vel officiis in sed assumenda.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ipsum, vel harum. Amet delectus ratione odio, possimus in, maxime libero cumque quasi earum quis a, sequi aperiam, commodi magni iste.
  </div>
  <div class = "col-md-3 thumbnail">
    <img src="<%= asset_path 'sololearn.jpg' %>" alt = "Sololearn: the app that teach you programming" class = "img-responsive img-rounded">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem porro hic nemo, ea! Debitis illum, commodi necessitatibus eius sapiente fugiat quam cum excepturi libero maxime vel officiis in sed assumenda.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ipsum, vel harum. Amet delectus ratione odio, possimus in, maxime libero cumque quasi earum quis a, sequi aperiam, commodi magni iste.
  </div>
</div>

</div>
