<h1 class="kids"><span style="color: red;">K</span><span style="color: blue;">I</span><span style="color: green;">D</span><span style="color: yellow;">S</span><span style="color: purple;">!</span></h1>

<h1>Learn how to code and awesome websites!</h1><h3> All you need is your computer! To start, <a href="<%= kids_html_path %>">learn HTML</a>! Then, you can <a href="<%= kids_css_path %>">learn CSS</a> to give your site color! And then you can make your site interactive with <a href="<%= kids_javascript_path %>">Javascript</a>! Finally, if you want, you can make a website with <a href="<%= kids_ruby_path %>">Ruby</a> or with <a href="<%= kids_python_path %>">Python</a>.</h3>

<div class="thumbnail col-md-2 col-sm-6"><a href="<% kids_html_path %>"><img src="<%= asset_path 'HTML_logo.png' %>" alt="">HTML</a></div>
<div class="thumbnail col-md-2 col-sm-6"><a href="<% kids_javascript_path %>"><img src="<%= asset_path 'JS_logo.png' %>" alt="">Javascript</a></div>
<div class="thumbnail col-md-2 col-sm-6"><a href="<% kids_css_path %>"><img src="https://i1.wp.com/www.lanaranjabionica.com/wp-content/uploads/2016/03/css-logo.png?fit=500%2C500" alt="">CSS</a></div>
<div class="thumbnail col-md-2 col-sm-6"><a href="<% kids_ruby_path %>"><img src="<%= asset_path 'Ruby_logo.png' %>" alt="">Ruby</a></div>
<div class="thumbnail col-md-2 col-sm-6"><a href="<% kids_python_path %>"><img class="py_logo_kids" src="<%= asset_path 'Python_logo.png' %>" alt="">Python</a></div>