<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tutorial_maker_admin.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @tutorial_maker_admin.content %>
</p>

<p>
  <strong>Code:</strong>
  <%= @tutorial_maker_admin.code %>
</p>

<p>
  <strong>Files:</strong>
  <%= @tutorial_maker_admin.file %>
</p>

<p>
  <strong>Images:</strong>
  <%= @tutorial_maker_admin.image %>
</p>

<p>
  <strong>Language:</strong>
  <%= @tutorial_maker_admin.language %>
</p>

<%= link_to 'Edit', edit_tutorial_maker_admin_path(@tutorial_maker_admin) if current_user.admin? %> |
<%= link_to 'Back', tutorial_maker_admins_path %>