<div class="col-md-4">
	<div class="thumbnail">
		<img src="<%= asset_path 'css1.png' %>" alt="">
		<h3>Begginer's course</h3>
		<a href="<%= css_tutorial_p1_1_path %>">First course</a>
	</div>
</div>

<div class="col-md-4">
	<div class="thumbnail">
		<img src="<%= asset_path 'css2.png' %>" alt="">
		<h3>Next path</h3>
		<a href="<%= css_tutorial_p1_1_path %>">First course</a>
	</div>
</div>

<div class="col-md-4">
	<div class="thumbnail">
		<h3>Advanced course</h3>
		<a href="<%= css_tutorial_p1_1_path %>">First course</a>
	</div>
</div>

<div class="col-md-4">
	<div class="thumbnail">
		<h3>Begginer's CSS3</h3>
		<a href="<%= css_tutorial_p1_1_path %>">First course</a>
	</div>
</div>