<h1 class="center tutorials-h1">Tutorials <img src="<%= asset_path 'Logo.png' %>" alt="" class="logo_page"> </h1>


<div class="height-space"></div>

<div class="row col-sm-12">
	<div class="col-md-2 col-xs-3">
		<img src="<%= asset_path 'AppleScript_logo.png' %>" alt="" class="logo">
		<div class="center">
			<a class="big-links" href="<%= tutorials_AppleScript_path %>" >AppleScript</a>
		</div>

		<%#Logo from: https://vignette2.wikia.nocookie.net/applescript/images/5/52/AppleScript_Logo.png/revision/latest?cb=20150906164437 %>
	</div>

	<div class="col-md-2 col-xs-3">
		<img src="<%= asset_path 'Rust_logo.png' %>" alt="" class="logo">
		<div class="center">
			<a class="big-links" href="<%= tutorials_Assembly_path %>" >Assembly</a>
		</div>
	</div>

	<div class="col-md-2 col-xs-3">
		<img src="<%= asset_path 'Bash_logo.png' %>" alt="" class="logo">
		<div class="center">
			<a class="big-links" href="<%= tutorials_Bash_path %>" >Bash</a>

		</div>
		<%# Logo from: https://raw.githubusercontent.com/odb/official-bash-logo/master/assets/Logos/Icons/PNG/512x512.png %>
	</div>

	<div class="col-md-2 col-xs-3">
		<img src="<%= asset_path 'Rust_logo.png' %>" alt="" class="logo">
		<div class="center">
			<a class="big-links" href="<%= tutorials_Basic_path %>" >Basic</a>
		</div>
	</div>

	<div class="col-md-2 col-xs-3">
		<img src="<%= asset_path 'Batch_logo.png' %>" alt="" class="logo">
		<div class="center">
			<a class="big-links" href="<%= tutorials_Batch_path %>" >Batch</a>
		</div>
		<%# Logo from: https://3.bp.blogspot.com/-zvB0upBQlrU/TyBvwb08KFI/AAAAAAAAAAw/vWjEQlDGDFk/s1600/shell-windows.png %>
	</div>

	<div class="col-md-2 col-xs-3">
		<div class="center">
			<p class="center"><img src="<%= asset_path 'C_logo.png' %>" alt="" class="logo_c"></p>
			<a class="big-links" href="<%= tutorials_C_path %>" >C</a>
		</div>
		<%# Logo from: https://seeklogo.com/images/C/c-programming-language-logo-9B32D017B1-seeklogo.com.png %>
	</div>
</div>


<div class="row col-sm-12">
	<div class="col-md-2 col-xs-3">
		<img src="<%= asset_path 'CS_logo.png' %>" alt="" class="logo">
		<div class="center">
			<a class="big-links" href="<%= tutorials_CS_path %>" >C#</a>
		</div>
	</div>

	<div class="col-md-2 col-xs-3">
		<img src="<%= asset_path 'Cpp_logo.png' %>" alt="" class="logo">
		<div class="center">
			<a class="big-links" href="<%= tutorials_CPP_path %>" >C++</a>
		</div>
	<%# Logo from: https://raw.githubusercontent.com/isocpp/logos/master/cpp_logo.png %>
	</div>

	<div class="col-md-2 col-xs-3">
		<img src="http://w3widgets.com/responsive-slider/img/css3.png" alt="" class="logo">
		<div class="center">
			<a class="big-links" href="<%= tutorials_CSS_path %>" >CSS</a>
		</div>
	</div>

	<div class="col-md-2 col-xs-3">
		<img src="<%= asset_path 'Dart_logo.png' %>" alt="" class="logo">
		<div class="center">
			<a class="big-links" href="<%= tutorials_Dart_path %>" >Dart</a>
		</div>
	</div>

	<div class="col-md-2 col-xs-3">
		<img src="<%= asset_path 'Fortran_logo.png' %>" alt="" class="logo">
		<div class="center">
			<a class="big-links" href="<%= tutorials_Fortran_path %>" >Fortran</a>
		</div>
		<%# Logo from: https://upload.wikimedia.org/wikipedia/commons/b/b6/Fortran.png %>
	</div>

	<div class="col-md-2 col-xs-3">
		<img src="<%= asset_path 'Batch_logo.png' %>" alt="" class="logo">
		<div class="center">
			<a class="big-links" href="<%= tutorials_Go_path %>" >Go</a>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-2 col-xs-3">
		<img src="<%= asset_path 'Gosu_logo.png' %>" alt="" class="logo">
		<div class="center">
			<a class="big-links" href="<%= tutorials_GosuRuby_path %>" >Gosu (Ruby)</a>
		</div>
	</div>

	<div class="col-md-2 col-xs-3">
		<img src="<%= asset_path 'HTML_logo.png' %>" alt="" class="logo">
		<div class="center">
			<a class="big-links" href="<%= tutorials_HTML_path %>" >HTML</a>
		</div>
	</div>

	<div class="col-md-2 col-xs-3">
		<div class="center">
			<img src="<%= asset_path 'Java_logo.png' %>" alt="" class="logo">
			<a class="big-links" href="<%= tutorials_Java_path %>" >
				Java
			</a>
			<%# logo from: https://en.wikipedia.org/wiki/File:Java_programming_language_logo.svg %>
		</div>
	</div>

	<div class="col-md-2 col-xs-3">
		<img src="<%= asset_path 'JS_logo.png' %>" alt="" class="logo">
		<div class="center">
			<a class="big-links" href="<%= tutorials_JS_path %>" >JavaScript</a>

			<%# logo from: https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/240px-Unofficial_JavaScript_logo_2.svg.png %>
		</div>
	</div>

	<div class="col-md-2 col-xs-3">
		<img src="<%= asset_path 'PugJS_logo.svg' %>" alt="" class="logo">
		<div class="center">
			<a class="big-links" href="<%= tutorials_JadePugJS_path %>" >PugJS (Jade)</a>
		</div>
		<%# logo from: https://camo.githubusercontent.com/a43de8ca816e78b1c2666f7696f449b2eeddbeca/68747470733a2f2f63646e2e7261776769742e636f6d2f7075676a732f7075672d6c6f676f2f656563343336636565386664396431373236643738333963626539396431663639343639326330632f5356472f7075672d66696e616c2d6c6f676f2d5f2d636f6c6f75722d3132382e737667 %>
	</div>

	<div class="col-md-2 col-xs-3">
		<img src="<%= asset_path 'Rust_logo.png' %>" alt="" class="logo">
		<div class="center">
			<a class="big-links" href="<%= tutorials_LiveScript_path %>" >LiveScript</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-2 col-xs-3">
		<img src="<%= asset_path 'Node.js_logo.svg' %>" alt="" class="logo">
		<div class="center">
			<a class="big-links" href="<%= tutorials_NodeJS_path %>" >Node JS</a>
		</div>
	</div>

	<div class="col-md-2 col-xs-3">
		<img src="<%= asset_path 'Perl_logo.png' %>" alt="" class="logo">
		<div class="center">
			<a class="big-links" href="<%= tutorials_Perl_path %>" >Perl</a>
		</div>
	</div>

	<div class="col-md-2 col-xs-3">
		<img src="<%= asset_path 'PHP_logo.png' %>" alt="" class="logo">
		<div class="center">
			<a class="big-links" href="<%= tutorials_PHP_path %>" >PHP</a>
			<%# logo from: https://seeklogo.com/images/P/PHP-logo-0B2FDC4529-seeklogo.com.png %>
		</div>
	</div>

	<div class="col-md-2 col-xs-3">
		<img src="<%= asset_path 'Python_logo.png' %>" alt="" class="logo_p">
		<div class="center">
			<a class="big-links" href="<%= tutorials_Python_path %>" >Python</a>
		</div>
	</div>

	<div class="col-md-2 col-xs-3">
		<img src="https://www.r-project.org/logo/Rlogo.svg" alt="" class="logo">
			<div class="center">
				<a class="big-links" href="<%= tutorials_R_path %>" >R</a>
			</div>
	</div>

	<div class="col-md-2 col-xs-3">
		<img src="<%= asset_path 'Rust_logo.png' %>" alt="" class="logo">
			<div class="center">
				<a class="big-links" href="<%= tutorials_Rust_path %>" >Rust</a>
			</div>
	<%# Logo from: https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Rust_programming_language_black_logo.svg/1200px-Rust_programming_language_black_logo.svg.png %>
	</div>
</div>

<div class="row">
	<div class="col-md-2 col-xs-3">
		<img src="<%= asset_path 'Ruby_logo.png' %>" alt="" class="logo">
		<div class="center">
			<a class="big-links" href="<%= tutorials_Ruby_path %>" >Ruby</a>
		</div>
	</div>

	<div class="col-md-2 col-xs-3">
		<img src="<%= asset_path 'Rust_logo.png' %>" alt="" class="logo">
		<div class="center">
			<a class="big-links" href="<%= tutorials_Rails_path %>">Rails</a>
		</div>
	</div>

	<div class="col-md-2 col-xs-3">
		<img src="<%= asset_path 'Rust_logo.png' %>" alt="" class="logo">
		<div class="center">
			<a class="big-links" href="<%= tutorials_SmallTalk_path %>" >GNU SmallTalk</a>
		</div>
	</div>

	<div class="col-md-2 col-xs-3">
		<img src="https://seeklogo.com/images/U/unity-logo-988A22E703-seeklogo.com.png" alt="" class="logo">
		<div class="center">
			<a class="big-links" href="<%= tutorials_Unity_path %>">Unity Game Engine</a>
		</div>
	</div>

	<div class="col-md-2 col-xs-3">
		<img src="<%= asset_path 'Sass_logo.png' %>" alt="" class="logo">
		<div class="center">
			<a class="big-links" href="<%= tutorials_Sass_path %>" >Sass</a>
		</div>
	</div>

	<div class="col-md-2 col-xs-3">
		<img src="http://dmahipus.github.io/less-intro/resources/less-logo.png" alt="" class="logo">
		<div class="center">
			<a class="big-links" href="<%= tutorials_Less_path %>" >Less</a>
		</div>
	</div>
</div>
