<p id="notice"><%= notice %></p>

<h1>User Tutorials</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Language</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_tutorials.each do |user_tutorial| %>
      <tr>
        <td><%= user_tutorial.name %></td>
        <td><%= user_tutorial.language %></td>
        <td><%= link_to 'Show', user_tutorial %></td>
        <td><%= link_to 'Edit', edit_user_tutorial_path(user_tutorial) %></td>
        <td><%= link_to 'Destroy', user_tutorial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Tutorial', new_user_tutorial_path %>


