<p id="notice"><%= notice %></p>

<h1>User Tutorials</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Language</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_tutorials.each do |user_tutorial| %>
      <tr>
        <td><%= user_tutorial.name %></td>
        <td><%= user_tutorial.language %></td>
        <td><%= link_to 'Show', user_tutorial if can? :read, UserTutorial %></td>
        <td><%= link_to 'Edit', edit_user_tutorial_path(user_tutorial) if can? :update, UserTutorial %></td>
        <td><%= link_to 'Destroy', user_tutorial, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, :all %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>

</script>

<%= link_to 'New Tutorial', new_user_tutorial_path if current_user.nil? == false %>

<br>

<%= link_to 'Ajax Post', new_user_tutorial_path, data:{remote: true} if current_user.nil? == false %>

<%= link_to("New Demo Tutorial", user_tutorials_ajax_path , data:{remote: true}) %>