<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <h1><%= @user_tutorial.name %></h1>
</p>

<p>
  <strong>Language:</strong>
  <%= @user_tutorial.language %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @user_tutorial.goal %>
</p>

<p>
  <strong>Content:</strong>
  <%= @user_tutorial.content %>
</p>

<p>
  <strong>Code:</strong>
  <%= @user_tutorial.code %>
</p>

<p>
  <strong>Files:</strong>
  <a href="<%= @user_tutorial if @user_tutorial.files? %>">Download Files</a>
</p>

<p>
  <strong>Images:</strong>
    <%= image_tag(@user_tutorial.image.url, alt: 'Image') if @user_tutorial.image? %>
      <%= @user_tutorial.image if @user_tutorial.image? %>
<p>
  <strong>User:</strong>
  <%= @user_tutorial.user.email %>
</p>

<%= link_to 'Edit', edit_user_tutorial_path(@user_tutorial) %> |
<%= link_to 'Back', user_tutorials_path %>
